
.box{
	width: 90%;
	margin: 0 5%;
	padding-top: 20px;
}

/*css style header*/
.head {
	border-bottom : 5px solid;
	margin-bottom: 10px;
	padding-bottom: 20px;
}
.head img { 
	border-radius: 60%;
	width: 250px;
	height: 250px;
	border: 10px solid black;
	padding: 10px;
}
.head table td{
	 text-align: center;
} 

/*style conntent*/
content {
	display: flex;
}

/*style article */
.art-01, .art-02{
	display: block;
}

/*css style article 1*/
.art-01{ 
	flex-basis: 30%; 
	background-color: #1e1c19;
	color: white;
	padding-left:15px;
}
.art-01 p {
	border-left: 1px solid;
	margin-left: 10px;
}
p {
	/*margin-left: 5%;*/
	padding-left: 3%;
	font-size: 20px;
}

/*style skill bar*/
ol li span{
	display: block;
}

.kemampuan .bar {
	position: relative;
	background-color: red;
	height: 20px;
	text-align: right;
	padding-right: 10px;
	border-radius: 5px;
}

.bahasa .bar {
	position: relative;
	background-color: blue;
	height: 20px;
	text-align: right;
	padding-right: 10px;
	border-radius: 5px;
}

/*css style article 1*/
.art-02{ 
 	flex-basis: 70% ;
 	padding-left:15px;
}

.art-02 p {
	padding-left: 0;
}

.art-02 article:nth-child(2) h3 a{
	color: black;
	cursor: alias;
}

/*css style untuk hp